<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.tomtom.aomsv2.addFeature.MiscellaneousScenarios</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addFeatureWithValidData</td>
<td>AddFeature </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addFeatureInvalidRequestFormat</td>
<td>AddFeature </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addFeatureNotPassingAnyParametersInTheRequest</td>
<td>AddFeature </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addFeatureNotPassingAnyHeadersInTheRequest</td>
<td>AddFeature </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>startup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>releaseResources</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.tomtom.aomsv2.addFeature.DescriptionValidations</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addFeaturewithDescriptionhasspecialcharacters</td>
<td>AddFeature </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addFeaturewithDescriptionof1023characters</td>
<td>AddFeature </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addFeaturewithDescriptionisNull</td>
<td>AddFeature </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addFeaturewithDescriptionof1024characters</td>
<td>AddFeature </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addFeaturewithDescriptiongreaterthan1024characters</td>
<td>AddFeature </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addFeaturewithDescriptionisEmpty</td>
<td>AddFeature </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>startup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>releaseResources</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.tomtom.aomsv2.addFeature.TenantIdValidations</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addFeatureTenantIdisnNullAsString</td>
<td>AddFeature </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addFeatureWithTenantIdof256characters</td>
<td>AddFeature </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addFeatureWithTenantIdnotindatabase</td>
<td>AddFeature </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addFeatureWithTenantIdof255characters</td>
<td>AddFeature </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addFeatureTenantIdisnNull</td>
<td>AddFeature </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addFeatureTenantIdisMissing</td>
<td>AddFeature </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addFeatureWithTenantIdhasspecialcharacters</td>
<td>AddFeature </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addFeatureWithTenantIdgreaterthan256characters</td>
<td>AddFeature </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>startup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.tomtom.aomsv2.addFeature.MultipleRequests</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addFeatureAddDifferentFeatureIdWithSameDescription</td>
<td>AddFeature </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addFeatureAddMultipleFeatureidsUsingSingleRequest</td>
<td>AddFeature </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addFeatureAddMultipleFeatureidsWithOneFeatureIdAlreadyPresent</td>
<td>AddFeature </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addFeatureAddMultipleFeatureidsofSameFeatureId</td>
<td>AddFeature </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>startup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.tomtom.aomsv2.addFeature.FeatureIdValidations</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addFeatureIdAlreadyPresent</td>
<td>AddFeature </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addFeatureWithFeatureIdgreaterthan256characters</td>
<td>AddFeature </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addFeatureWithFeatureIdof256characters</td>
<td>AddFeature </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addFeatureWithFeatureIdhasspecialcharacters</td>
<td>AddFeature </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addFeatureWhenFeatureIdisEmpty</td>
<td>AddFeature </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addFeatureWhenFeatureIdisMissing</td>
<td>AddFeature </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addFeatureWithFeatureIdof255characters</td>
<td>AddFeature </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addFeatureWhenFeatureIdisNull</td>
<td>AddFeature </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>startup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>releaseResources</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.tomtom.aomsv2.addFeature.XRequestIdvalidations</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addFeatureXRequestIdisEmpty</td>
<td>AddFeature </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addFeatureXRequestIdisMissing</td>
<td>AddFeature </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addFeatureWithXRequestIDof256characters</td>
<td>AddFeature </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addFeatureWithXRequestIDgreaterthan256characters</td>
<td>AddFeature </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addFeatureWithXRequestIDof255characters</td>
<td>AddFeature </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addFeatureWithXRequestIDHasSpecialCharacters</td>
<td>AddFeature </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>startup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>releaseResources</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
